{% extends 'clientes/base.html' %}

{% block title %}Acerca de{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Acerca de Nosotros</h1>
    <p>Bienvenido a nuestra aplicación de apuestas digitales. Somos una plataforma innovadora dedicada a ofrecer la mejor experiencia de apuestas en línea para nuestros usuarios. Nuestro objetivo es proporcionar un entorno seguro, justo y emocionante para todos los entusiastas de las apuestas, asegurando la transparencia y la protección de los datos personales.</p>
    <p>Nuestra plataforma permite a los usuarios registrarse, realizar apuestas, gestionar sus perfiles y tarjetas, y visualizar el historial y estadísticas de sus apuestas. Los administradores pueden gestionar usuarios, clientes, generar reportes, y analizar datos a través de gráficas detalladas.</p>
    <p>Nos enorgullecemos de ofrecer una interfaz intuitiva y una experiencia de usuario optimizada, adaptándonos a las necesidades tanto de usuarios novatos como experimentados en el mundo de las apuestas.</p>
</div>
{% endblock %}
