{% extends 'clientes/base.html' %}

{% block title %}Dashboard Admin{% endblock %}

{% block content %}
<div class="form-container">
    <a href="{% url 'clientes_list' %}" class="nav-button">Ver Clientes</a>
    <a href="{% url 'admin_user_list' %}" class="nav-button">Gestionar Usuarios</a>
    <a href="{% url 'generar_reporte_csv' %}" class="nav-button">Reporte CSV</a>
    <a href="{% url 'generar_reporte_excel' %}" class="nav-button">Reporte Excel</a>
    <a href="{% url 'graficas' %}" class="nav-button">Ver Gráficas</a>
    <a href="{% url 'listar_tarjetas' %}" class="nav-button">Ver Tarjetas</a>
    <a href="{% url 'lista_publicidad' %}" class="nav-button">Gestionar Publicidad</a>
</div>
{% endblock %}
