{% extends 'clientes/base.html' %}

{% block title %}Lista de Apuestas{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Lista de Apuestas</h2>
    <button class="nav-button" onclick="location.href='{% url 'apuesta_create' %}'">Agregar nueva apuesta</button>
    <ul class="bet-list">
        {% for apuesta in apuestas %}
            <li class="bet-item">
                <span>{{ apuesta.cliente.nombre }} - {{ apuesta.monto }} ({{ apuesta.fecha }})</span>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
