<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Aplicación de Apuestas{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Snap+ITC&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="icon" href="{% static 'img/Uxicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="{% if request.user.is_authenticated and request.user.profile.theme == 'dark' %}dark-mode{% else %}light-mode{% endif %}">
    <header>
        <nav class="navbar {% if request.user.is_authenticated and request.user.profile.theme == 'dark' %}dark-mode{% else %}light-mode{% endif %}">
            <div class="navbar-container">
                <div class="navbar-brand">
                    <a href="{% url 'index' %}" class="nav-button">CrudOS Home</a>
                </div>
                <button class="navbar-toggle" onclick="toggleMenu()">☰</button>
                <ul class="navbar-links">
                    {% if user.is_authenticated %}
                        {% if user.is_staff %}
                            <li><a href="{% url 'admin_dashboard' %}" class="nav-button">Dashboard Admin</a></li>
                            <li><a href="{% url 'clientes_list' %}" class="nav-button">Ver Clientes</a></li>
                            <li><a href="{% url 'admin_user_list' %}" class="nav-button">Gestionar Usuarios</a></li>
                            <li><a href="{% url 'generar_reporte_csv' %}" class="nav-button">Reporte CSV</a></li>
                            <li><a href="{% url 'generar_reporte_excel' %}" class="nav-button">Reporte Excel</a></li>
                            <li><a href="{% url 'generar_reporte_historico_apuestas' %}" class="nav-button">Reporte Histórico de Apuestas (CSV)</a></li>
                            <li><a href="{% url 'generar_reporte_historico_apuestas_excel' %}" class="nav-button">Reporte Histórico de Apuestas (Excel)</a></li>
                            <li><a href="{% url 'graficas' %}" class="nav-button">Ver Gráficas</a></li>
                            <li><a href="{% url 'listar_tarjetas' %}" class="nav-button">Ver Tarjetas</a></li>
                            <li><a href="{% url 'manage_images' %}" class="nav-button">Gestionar Publicidad</a></li>
                            <li>
                                <form id="logout-form-admin" action="{% url 'logout_admin' %}" method="post" style="display: none;">
                                    {% csrf_token %}
                                </form>
                                <a href="#" class="nav-button" onclick="document.getElementById('logout-form-admin').submit();">Cerrar Sesión (Admin)</a>
                            </li>
                        {% else %}
                            <li><a href="{% url 'perfil_cliente' %}" class="nav-button">Perfil</a></li>
                            <li><a href="{% url 'historial_apuestas' %}" class="nav-button">Historial de Apuestas</a></li>
                            <li><a href="{% url 'apuesta_create' %}" class="nav-button">Nueva Apuesta</a></li>
                            <li><a href="{% url 'mis_apuestas' %}" class="nav-button">Mis Apuestas</a></li>
                            <li><a href="{% url 'listar_tarjetas_cliente' %}" class="nav-button">Ver Tarjetas</a></li>
                            <li><a href="{% url 'agregar_tarjeta' %}" class="nav-button">Agregar Tarjeta</a></li>
                            <li><a href="{% url 'graficas_cliente' %}" class="nav-button">Mis Gráficas</a></li>
                            <li>
                                <form id="logout-form" action="{% url 'logout_cliente' %}" method="post" style="display: none;">
                                    {% csrf_token %}
                                </form>
                                <a href="#" class="nav-button" onclick="document.getElementById('logout-form').submit();">Cerrar Sesión</a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li><a href="{% url 'login_cliente' %}" class="nav-button">Iniciar Sesión</a></li>
                        <li><a href="{% url 'login_admin' %}" class="nav-button">Iniciar Sesión como Admin</a></li>
                        <li><a href="{% url 'registro_cliente' %}" class="nav-button">Registrarse</a></li>
                        <li><a href="{% url 'password_reset' %}" class="nav-button">Restablecer Contraseña</a></li>
                        <li><a href="{% url 'soporte_tecnico' %}" class="nav-button">Soporte Técnico</a></li>
                    {% endif %}
                    <li><a href="{% url 'acerca_de' %}" class="nav-button">Acerca de</a></li>
                    <li><a href="{% url 'mision' %}" class="nav-button">Misión</a></li>
                    <li><a href="{% url 'vision' %}" class="nav-button">Visión</a></li>
                    <li>
                        <button id="mode-toggle" class="nav-button theme-toggle-button">
                            <i id="theme-icon" class="fas {% if request.user.is_authenticated and request.user.profile.theme == 'dark' %}fa-sun{% else %}fa-moon{% endif %}"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="publicidad-container">
            <div class="publicidad-izquierda">
                {% for image in images_left %}
                    <img src="{{ image.image.url }}" alt="{{ image.title }}" style="width: 45%; margin: 10px 0;">
                {% endfor %}
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
            <div class="publicidad-derecha">
                {% for image in images_right %}
                    <img src="{{ image.image.url }}" alt="{{ image.title }}" style="width: 45%; margin: 10px 0;">
                {% endfor %}
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <p>&copy; 2024 CrudOS. Todos los derechos reservados.</p>
            <p>Síguenos en:
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </p>
        </div>
    </footer>
    <script>
        // Esperar a que el DOM esté completamente cargado antes de ejecutar el script
        document.addEventListener('DOMContentLoaded', () => {
            // Seleccionar el botón para alternar el modo
            const modeToggle = document.getElementById('mode-toggle');
            // Seleccionar el cuerpo del documento
            const body = document.body;
            // Seleccionar la barra de navegación
            const navbar = document.querySelector('.navbar');
            // Seleccionar todos los contenedores de formularios y los inputs dentro de ellos
            const formContainers = document.querySelectorAll('.form-container, .form-container form input');

            // Función para establecer el modo claro u oscuro
            const setMode = (isDarkMode) => {
                // Alternar clases para el cuerpo del documento
                body.classList.toggle('dark-mode', isDarkMode);
                body.classList.toggle('light-mode', !isDarkMode);
                // Alternar clases para la barra de navegación
                navbar.classList.toggle('dark-mode', isDarkMode);
                navbar.classList.toggle('light-mode', !isDarkMode);
                // Alternar clases para los contenedores de formularios e inputs
                formContainers.forEach(container => {
                    container.classList.toggle('dark-mode', isDarkMode);
                    container.classList.toggle('light-mode', !isDarkMode);
                });
                // Actualizar el icono del botón para alternar el modo
                document.getElementById('theme-icon').classList.toggle('fa-sun', isDarkMode);
                document.getElementById('theme-icon').classList.toggle('fa-moon', !isDarkMode);
            };

            // Event listener para alternar el modo cuando se haga clic en el botón
            modeToggle.addEventListener('click', () => {
                const isDarkMode = !body.classList.contains('dark-mode');
                setMode(isDarkMode);
                // Guardar la preferencia del modo en localStorage
                localStorage.setItem('mode', isDarkMode ? 'dark' : 'light');
            });

            // Establecer el modo basado en la preferencia guardada en localStorage
            const savedMode = localStorage.getItem('mode') === 'dark';
            setMode(savedMode);
        });

        // Función para alternar el menú desplegable
        function toggleMenu() {
            const navbarLinks = document.querySelector('.navbar-links');
            navbarLinks.classList.toggle('open');
        }
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>