{% extends 'clientes/base.html' %}

{% block title %}Eliminar Publicidad{% endblock %}

{% block content %}
<div class="form-container">
    <h2>¿Estás seguro que deseas eliminar esta publicidad?</h2>
    <p><strong>{{ publicidad.titulo }}</strong></p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="delete-button">Eliminar</button>
        <a href="{% url 'lista_publicidad' %}" class="nav-button cancel-button">Cancelar</a>
    </form>
</div>
{% endblock %}
