{% extends 'clientes/base.html' %}

{% load custom_filters %}

{% block title %}Gestionar Publicidad{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Gestionar Publicidad</h2>
    <a href="{% url 'agregar_publicidad' %}" class="nav-button">Agregar Publicidad</a>
    <h3>Publicidad Izquierda</h3>
    {% if publicidades_izquierda %}
    <ul class="ad-list">
        {% for publicidad in publicidades_izquierda %}
        <li class="ad-item">
            {% if publicidad.archivo.url|is_video %}
            <video width="200" controls>
                <source src="{{ publicidad.archivo.url }}" type="video/mp4">
            </video>
            {% else %}
            <img src="{{ publicidad.archivo.url }}" width="200" alt="Publicidad">
            {% endif %}
            <div class="ad-actions">
                <a href="{% url 'editar_publicidad' publicidad.id %}" class="edit-button">Editar</a>
                <a href="{% url 'eliminar_publicidad' publicidad.id %}" class="delete-button">Eliminar</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No hay publicidad para mostrar en la izquierda.</p>
    {% endif %}
    <h3>Publicidad Derecha</h3>
    {% if publicidades_derecha %}
    <ul class="ad-list">
        {% for publicidad in publicidades_derecha %}
        <li class="ad-item">
            {% if publicidad.archivo.url|is_video %}
            <video width="200" controls>
                <source src="{{ publicidad.archivo.url }}" type="video/mp4">
            </video>
            {% else %}
            <img src="{{ publicidad.archivo.url }}" width="200" alt="Publicidad">
            {% endif %}
            <div class="ad-actions">
                <a href="{% url 'editar_publicidad' publicidad.id %}" class="edit-button">Editar</a>
                <a href="{% url 'eliminar_publicidad' publicidad.id %}" class="delete-button">Eliminar</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No hay publicidad para mostrar en la derecha.</p>
    {% endif %}
</div>
{% endblock %}
