{% extends 'clientes/base.html' %}

{% block title %}Mis Apuestas{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Mis Apuestas</h2>
    <table class="bet-history-table">
        <thead>
            <tr>
                <th>Monto</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for apuesta in apuestas %}
            <tr>
                <td>{{ apuesta.monto }}</td>
                <td>{{ apuesta.fecha }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'apuesta_create' %}" class="nav-button">Agregar nueva apuesta</a>
</div>
{% endblock %}
