{% extends 'clientes/base.html' %}

{% block title %}Misión{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Nuestra Misión</h1>
    <p>Nuestra misión es revolucionar la industria de las apuestas digitales proporcionando una plataforma accesible, segura y entretenida para todos los usuarios. Nos comprometemos a promover el juego responsable, asegurando que nuestros usuarios tengan la mejor experiencia posible mientras protegemos sus datos personales y financieros.</p>
    <p>Trabajamos constantemente en mejorar nuestras funcionalidades, añadiendo nuevas características basadas en las necesidades y sugerencias de nuestros usuarios. Queremos ser la opción número uno para todos los aficionados a las apuestas, ofreciendo una experiencia de usuario incomparable y soporte continuo.</p>
</div>
{% endblock %}
