{% extends 'clientes/base.html' %}

{% block title %}Registrar Cliente{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Registrar Cliente</h2>
    <form method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="nav-button">Registrar</button>
        <button type="button" class="nav-button" onclick="location.href='{% url 'index' %}'">Cancelar</button>
    </form>
</div>
{% endblock %}


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const modeToggle = document.getElementById('mode-toggle');
        const body = document.body;
        const navbar = document.querySelector('.navbar');
        const formContainers = document.querySelectorAll('.form-container, .form-container form input');

        modeToggle.addEventListener('click', () => {
            body.classList.toggle('dark-mode');
            body.classList.toggle('light-mode');
            navbar.classList.toggle('dark-mode');
            navbar.classList.toggle('light-mode');
            formContainers.forEach(container => {
                container.classList.toggle('dark-mode');
                container.classList.toggle('light-mode');
            });
            modeToggle.textContent = body.classList.contains('dark-mode') ? 'Modo Claro' : 'Modo Oscuro';
            localStorage.setItem('mode', body.classList.contains('dark-mode') ? 'dark' : 'light');
        });

        if (localStorage.getItem('mode') === 'dark') {
            body.classList.add('dark-mode');
            body.classList.remove('light-mode');
            navbar.classList.add('dark-mode');
            navbar.classList.remove('light-mode');
            formContainers.forEach(container => {
                container.classList.add('dark-mode');
                container.classList.remove('light-mode');
            });
            modeToggle.textContent = 'Modo Claro';
        } else {
            body.classList.add('light-mode');
            body.classList.remove('dark-mode');
            navbar.classList.add('light-mode');
            navbar.classList.remove('dark-mode');
            formContainers.forEach(container => {
                container.classList.add('light-mode');
                container.classList.remove('dark-mode');
            });
            modeToggle.textContent = 'Modo Oscuro';
        }
    });
</script>
