{% extends 'clientes/base.html' %}

{% block title %}Visión{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Nuestra Visión</h1>
    <p>Nuestra visión es convertirnos en la plataforma líder mundial en apuestas digitales, reconocida por nuestra innovación, seguridad y compromiso con la satisfacción del usuario. Aspiramos a ser pioneros en el uso de tecnología avanzada para crear experiencias de apuestas personalizadas y emocionantes.</p>
    <p>Imaginamos un futuro donde nuestras soluciones tecnológicas no solo faciliten las apuestas, sino que también contribuyan al bienestar y la diversión de nuestros usuarios. Nos esforzamos por establecer estándares de excelencia en la industria y expandir nuestra presencia globalmente, siempre manteniendo nuestros valores de integridad, transparencia y responsabilidad.</p>
</div>
{% endblock %}
