@import url('https://fonts.googleapis.com/css2?family=Snap+ITC&display=swap');

/* Definición de variables de colores y estilos */
:root {
    --primary-color: #e63946; /* Rojo vivo */
    --secondary-color: #1d3557; /* Azul oscuro */
    --accent-color: #f77f00; /* Naranja vivo */
    --background-color: #ffffff; /* Blanco */
    --text-color: #000000; /* Negro */
    --light-bg: #f1faee; /* Azul muy claro */
    --dark-bg: #1d3557; /* Azul oscuro */
    --light-text: #1d3557; /* Azul oscuro */
    --dark-text: #f1faee; /* Azul muy claro */
    --dark-bg-gray: #1d3557; /* Azul oscuro */
    --dark-secondary-gray: #457b9d; /* Azul medio */
    --button-hover: #a8dadc; /* Azul claro */
    --input-border: #e63946; /* Rojo vivo */
}

/* Estilos generales del cuerpo */
body {
    font-family: 'Snap ITC', sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    background-image: url("/static/img/Fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

/* Modo claro para el cuerpo */
body.light-mode {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Modo oscuro para el cuerpo */
body.dark-mode {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

/* Estilos del Navbar */
.navbar {
    background-color: var(--primary-color);
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: auto;
    margin: 0 auto;
    transition: background-color 0.3s;
    flex-wrap: wrap;
}

/* Contenedor del Navbar */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

/* Botón para el menú desplegable */
.navbar-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--background-color);
    background: none;
    border: none;
    padding: 0;
}

/* Estilo de la marca del Navbar */
.navbar-brand {
    font-family: 'Snap ITC', sans-serif;
    font-size: 1.5rem;
    color: var(--background-color);
    text-decoration: none;
}

/* Estilos de los enlaces del Navbar */
.navbar-links {
    display: flex;
    gap: 1rem;
    transition: max-height 0.3s;
}

/* Estilos de los enlaces y botones del Navbar */
.nav-link,
.nav-button {
    color: var(--background-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    margin: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Snap ITC', sans-serif; /* Aplicar la fuente */
}

/* Efecto hover para los enlaces y botones del Navbar */
.nav-link:hover,
.nav-button:hover {
    background-color: var(--accent-color);
    transform: scale(1.05);
}

/* Modo claro para el Navbar */
.navbar.light-mode {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Modo oscuro para el Navbar */
.navbar.dark-mode {
    background-color: var(--dark-secondary-gray);
    color: var(--dark-text);
}

/* Estilos de la lista de enlaces del Navbar */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilos de los elementos de la lista del Navbar */
.navbar li {
    margin: 5px;
}

/* Enlaces y botones del Navbar en modo claro */
.navbar.light-mode a,
.navbar.light-mode .nav-button {
    color: var(--text-color);
}

/* Estilos del contenedor del formulario */
.form-container {
    max-width: 800px;
    margin: 60px auto;
    padding: 40px;
    border: 1px solid var(--input-border);
    border-radius: 15px;
    transition: background-color 0.3s, border-color 0.3s;
    font-family: 'Snap ITC', sans-serif;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Modo claro para el contenedor del formulario */
.form-container.light-mode {
    background-color: var(--background-color);
    border-color: #ccc;
    color: var(--text-color);
}

/* Modo oscuro para el contenedor del formulario */
.form-container.dark-mode {
    background-color: var(--dark-secondary-gray);
    border-color: #555;
    color: var(--dark-text);
}

/* Estilos de los títulos dentro del contenedor del formulario */
.form-container h2,
.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos del formulario */
.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos de los campos del formulario */
.form-container form input[type="text"],
.form-container form input[type="email"],
.form-container form input[type="password"],
.form-container form input[type="number"],
.form-container form textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s, border-color 0.3s;
    color: var(--text-color);
}

/* Campos del formulario en modo oscuro */
.form-container form input[type="text"].dark-mode,
.form-container form input[type="email"].dark-mode,
.form-container form input[type="password"].dark-mode,
.form-container form input[type="number"].dark-mode,
.form-container form textarea.dark-mode {
    background-color: var(--dark-bg);
    border-color: #666;
    color: var(--dark-text);
}

/* Estilos de los botones del formulario */
.form-container form button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 25px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    font-family: 'Snap ITC', sans-serif; /* Aplicar la fuente */
}

/* Efecto hover para los botones del formulario */
.form-container form button:hover {
    background-color: var(--accent-color);
    transform: scale(1.05);
}

/* Estilos de los botones de edición y eliminación */
.edit-button, .delete-button {
    padding: 5px 10px;
    margin: 5px;
    background-color: #e63946;
    color: var(--background-color);
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 25px;
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'Snap ITC', sans-serif; /* Aplicar la fuente */
}

/* Efecto hover para el botón de edición */
.edit-button:hover {
    background-color: #f77f00;
    transform: scale(1.05);
}

/* Estilos del botón de eliminación */
.delete-button {
    background-color: #000000;
}

/* Efecto hover para el botón de eliminación */
.delete-button:hover {
    background-color: #e63946;
    transform: scale(1.05);
}

/* Estilos de los enlaces */
.nav-link {
    color: var(--primary-color);
    text-decoration: none;
    font-family: 'Snap ITC', sans-serif; /* Aplicar la fuente */
}

/* Efecto hover para los enlaces */
.nav-link:hover {
    text-decoration: underline;
}

/* Listas de clientes, tarjetas, imágenes y publicidad */
.client-list, .card-list, .image-list, .ad-list, .apuesta-list {
    list-style-type: none;
    padding: 0;
}

/* Elementos de las listas */
.client-item, .card-item, .ad-item, .apuesta-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    background-color: var(--accent-color);
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Efecto hover para los elementos de las listas */
.client-item:hover, .card-item:hover, .ad-item:hover, .apuesta-item:hover {
    background-color: var(--button-hover);
}

/* Estilos de los nombres de clientes, titulares de tarjetas y posición de publicidad */
.client-name, .card-holder, .ad-pos, .apuesta-info {
    font-weight: bold;
    color: var(--text-color);
}

/* Estilos de las imágenes de las gráficas */
.chart-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Estilos del titular de la tarjeta */
.card-holder {
    font-weight: bold;
    color: var(--text-color);
}

/* Estilos del Footer */
footer {
    background-color: var(--primary-color);
    color: var(--light-text);
    text-align: center;
    padding: 1rem 0;
    
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    margin: 0.5rem 0;
}

.footer-content a {
    color: var(--light-text);
    margin: 0 0.5rem;
    text-decoration: none;
}

.footer-content a:hover {
    color: var(--accent-color);
}


/* Estilos del contenedor de dados */
.dice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Estilos de los dados */
.dice {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    font-size: 3em;
    text-align: center;
    line-height: 100px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: transform 1s;
    perspective: 1000px;
    transform-style: preserve-3d;
}

/* Estilos de las caras de los dados */
.dice div {
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    font-size: 3em;
    color: var(--text-color);
}

.front { transform: rotateY(0deg) translateZ(50px); }
.back { transform: rotateY(180deg) translateZ(50px); }
.right { transform: rotateY(90deg) translateZ(50px); }
.left { transform: rotateY(-90deg) translateZ(50px); }
.top { transform: rotateX(90deg) translateZ(50px); }
.bottom { transform: rotateX(-90deg) translateZ(50px); }

/* Diseño responsive */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-links {
        flex-direction: column;
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .navbar-links.open {
        max-height: 300px; /* Ajustar según sea necesario */
    }
    .navbar ul {
        flex-direction: column;
        width: 100%;
    }
    .navbar li {
        width: 100%;
    }
    .navbar a,
    .nav-button {
        width: 100%;
        text-align: left;
    }
}
